.venv
__pycache__
.figures
data
results
log*
wandb
.vscode
.tmp
artifacts
lightning_logs
.ipynb_checkpoints
.DS_Store
build
*.egg-info
*.ckpt
notebooks
*.log
examples/datasets/MNIST/MNIST/raw/t10k-images-idx3-ubyte
examples/datasets/MNIST/MNIST/raw/t10k-images-idx3-ubyte.gz
examples/datasets/MNIST/MNIST/raw/t10k-labels-idx1-ubyte
examples/datasets/MNIST/MNIST/raw/t10k-labels-idx1-ubyte.gz
examples/datasets/MNIST/MNIST/raw/train-images-idx3-ubyte
examples/datasets/MNIST/MNIST/raw/train-images-idx3-ubyte.gz
examples/datasets/MNIST/MNIST/raw/train-labels-idx1-ubyte
examples/datasets/MNIST/MNIST/raw/train-labels-idx1-ubyte.gz
.tmp
.results
.models
.data